<%= simple_form_for [ @article, @article.comments.build ] do |form| %>
  <p> 
    <%= form.input :commenter, label: 'Nome: ',
    error: 'Por favor, verifique o texto' %> 
  </p>
  <p> 
    <%= form.input :body, label: 'Comentario: ',
    error: 'Por favor, verifique o texto' %> 
  </p>

  <p>
    <%= form.input :status, as: :select, 
    collection:['public', 'private', 'archived'], 
    selected: 'public' %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>