<div class="container">
  <%= simple_form_for article do |form| %>
  
    <%= form.input :title, label: 'Titulo',
      error: 'Por favor, adicione um titulo' %><br>

    <%= form.input :body, label: 'Texto',
    error: 'Por favor, verifique o texto',
    hint: 'Escreva uma msg acima de 10 caracteres' %><br>

    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>

    <%= form.input :status, as: :select, 
    collection:['public', 'private', 'archived'], 
    selected: 'public' %> <br>
    
    <%= form.input :user_id, as: :select, 
    collection: User.all, 
    label_method: :email,
    selected: User.first %> <br>

    <h5 class="my-2">Comentarios</h5>
    <%= form.simple_fields_for :comments do |comment_form| %>
      <%= render "comments/form_increase", form: comment_form %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add ingredient', form, :comment_form %>
    </div>
    

    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>

    <%= form.submit %>

  <% end %>
  <%= link_to "< Back", :back, class: "btn btn-outline-info mt-3" %>
<div>