<div class="title_header">
<h1>Listar arquivos</h1>
<% if user_signed_in? %>
  <%= link_to "Editar usuario", edit_user_registration_path,
  class: "btn_link_add" %>
  <%= link_to "Deslogar", destroy_user_session_path, method: :delete,
  class: "btn_link_delete" %>
<% end %>
</div>

<p>Our blog has <%= Article.public_count %> articles and counting!</p>
<p>Our blog has <%= Comment.public_count %> comments and counting!</p>
<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "Novo Article", new_article_path, class: "btn_link_new" %>

 
