<div class="title_header" >
<h1>Listar arquivos</h1>
<div class="d-flex align-items-center"> 
  <% if user_signed_in? %>
    <%= link_to "Editar usuario", edit_user_registration_path,
                class: "btn btn-info mx-2" %>
    <%= link_to "Deslogar", destroy_user_session_path, method: :DELETE,
                                                       class: "btn btn-danger mx-2" %>
  <% end %>
</div>

</div>
<div class="container pt-3">
  <div class="row">
    <p>Our blog has <%= Article.public_count %> articles and counting!</p>
    <p>Our blog has <%= Comment.public_count %> comments and counting!</p>
    <ul>
      <% @articles.each do |article| %>
        <% unless article.archived? %>
          <li>
            <%= link_to article.title, article %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <%= link_to "Novo artigo", new_article_path, class: "btn btn-primary" %>
</div>

 
