<div class="title_header">
<h1><%= @article.title %></h1>
<div class="d-flex align-items-center"> 
  <%= link_to "Editar artigo", edit_article_path(@article), class: "btn btn-info mx-3" %>  
  <%= link_to "Excluir artigo",
              article_path(@article),
              method: :delete,
              data: { confirm: "Tem certeza?!" },
              class: "btn btn-danger" %>
</div>
</div>

<div class="container pt-3">
  <p class="lead">
    <%= @article.body %> 
</p>

<h5 class="my-2">Comentarios</h5>
<%= render @article.comments %>

<h5 class="mt-3">Adicionar comentario:</h5>
<%= render "comments/form" %>



<a href="/">< Voltar</a>
</div>
