<h1 class="title_header"><%= @article.title %></h1
>

<p>
  <%= @article.body %> 
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Adicionar comment:</h2>
<%= render 'comments/form' %>

<p>
  <%= link_to "Editar", edit_article_path(@article), class: "btn_link_new" %> -
  <%= link_to "Excluir", 
    article_path(@article),
    method: :delete,
    data: { confirm: "Tem certeza?!" },
    class: "btn_link_delete"
  %>
</p>

<a href="/">< Voltar</a>



